appdirs==1.4.2
beautifulsoup4==4.5.3
boto==2.46.1
bs4==0.0.1
get==0.0.0
packaging==16.8
post==0.0.0
public==0.0.0
pyparsing==2.1.10
query-string==0.0.0
request==0.0.0
requests==2.13.0
setupfiles==0.0.0
six==1.10.0
